# A simple script to plot 3D Lines from a CSV File

In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [4]:
#myData = pd.read_csv(r'D:\myStudy\Python\3dPlot\dataNew.csv')
myData = pd.read_csv(r'D:\myStudy\Python\mpl_plot3D\dataNew.csv')

myData.head()

,name,id,lat,lon,cumulative_revenue,capital_cost,traffic_per_day
0,Daroda,49,17.801103,78.471683,30.99,268.37,9739
1,Kelapur,51,18.205251,78.398261,41.24,161.00,11404
2,Allonia,62,18.538266,78.239734,109.25,90.00,14947
3,Gondhkhairi/ Kondhali,119,19.026592,78.362705,129.02,168.00,13249
4,Rolmamda,144,19.099047,78.213399,161.11,546.29,15927

In [6]:
x = np.array(myData['lon'])
y = np.array(myData['lat'])
z = np.array(myData['traffic_per_day'])

## Using Matplotlib

In [7]:
 %matplotlib widget 
fig = plt.figure(figsize = (6,6))
ax = fig.add_subplot(111,projection='3d')

ax.plot3D(x, y, z, color='gray')

ax.scatter(x, y, z, linewidths=1, alpha=.7,s = 20,c=z)

ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
ax.set_zlabel('CO2')
plt.title("Carbon DiOxide") 

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦