# A simple script to plot 3D Lines from a CSV File

In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [2]:
#myData = pd.read_csv(r'D:\myStudy\Python\3dPlot\dataNew.csv')
myData = pd.read_csv(r'D:\myStudy\Python\mpl_plot3D\atmosphere.csv',parse_dates=[['Date', 'Time']])

myData.head()

,Date_Time,Temp,Humidity,CO2,Air Quality,Nox,CO,Dust,Pressure,Altitude,Lat,Lon
0,2020-12-18 11:11:04,29,44,0.63,0.04,0.17,0.04,174.42,98108,285.99,21.245005,81.644005
1,2020-12-18 11:11:25,29,42,0.56,0.05,0.13,0.04,201.64,98105,285.99,21.245012,81.644012
2,2020-12-18 11:11:46,30,41,0.56,0.05,0.13,0.03,210.38,98103,286.16,21.245016,81.644028
3,2020-12-18 11:12:07,31,40,0.55,0.05,0.12,0.04,209.30,98107,285.99,21.245041,81.644012
4,2020-12-18 11:12:28,31,39,0.54,0.05,0.12,0.04,266.21,98100,286.16,21.245022,81.644043

In [3]:
x = np.array(myData['Lon'])
y = np.array(myData['Lat'])
z = np.array(myData['CO2'])
t = np.array(myData['Date_Time'])

## Using Matplotlib

In [4]:
 %matplotlib widget 
fig = plt.figure(figsize = (6,6))
ax = fig.add_subplot(111,projection='3d')

ax.plot3D(x, y, z, color='gray')

ax.scatter(x, y, z, linewidths=1, alpha=.7,s = 20,c=z)

ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
ax.set_zlabel('CO2')
plt.title("Carbon DiOxide") 

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [12]:
def avg_subset(data):
    data_mean = data.mean(axis = 0,numeric_only = True)
    data_frame = data_mean.to_frame().transpose()
    return data_frame

In [5]:
data1 = myData[myData['Date_Time'] <= '2020-12-18 12:00:00']
data2 = myData[(myData['Date_Time'] >= '2020-12-18 12:00:00') & (myData['Date_Time'] <= '2020-12-18 23:00:00')]
data3 = myData[(myData['Date_Time'] >= '2020-12-20 11:00:00') & (myData['Date_Time'] <= '2020-12-20 12:00:00')]
data4 = myData[myData['Date_Time'] >= '2020-12-20 12:00:00']

In [13]:
mean_data1 = avg_subset(data1)
mean_data2 = avg_subset(data2)
mean_data3 = avg_subset(data3)
mean_data4 = avg_subset(data4)

In [14]:
avg_data = pd.concat([mean_data1,mean_data2,mean_data3,mean_data4])
avg_data

,Temp,Humidity,CO2,Air Quality,Nox,CO,Dust,Pressure,Altitude,Lat,Lon
0,32.481481,36.629630,0.552222,0.047037,0.124815,0.034815,233.365556,98121.111111,284.651852,21.245001,81.644011
0,26.038462,50.307692,0.600385,0.054615,0.163846,0.035769,235.445385,97883.615385,305.054231,21.245036,81.644094
0,33.444444,12.518519,0.498889,0.036667,0.100370,0.029630,231.154815,98262.185185,272.660741,21.245000,81.644058
0,24.148148,25.518519,0.520741,0.035556,0.117037,0.028519,232.418889,97903.518519,302.695185,21.245032,81.644052

In [17]:
avg_x = np.array(avg_data['Lon'])
avg_y = np.array(avg_data['Lat'])
avg_z = np.array(avg_data['CO2'])

%matplotlib widget 
fig = plt.figure(figsize = (6,6))
ax = fig.add_subplot(111,projection='3d')

#ax.plot3D(avg_x, avg_y, avg_z, color='gray')

ax.scatter(avg_x, avg_y, avg_z, linewidths=1, alpha=.7,s = 100,c=avg_z,picker=True)

ax.set_xlabel('Longitude')
ax.set_ylabel('Latitude')
ax.set_zlabel('CO2')
plt.title("Carbon DiOxide") 

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [21]:
 %matplotlib widget 
fig, axs = plt.subplots(2,2,sharey='all',gridspec_kw={ 'wspace': 0})
co2 = np.array(data1['CO2'])
time = pd.to_datetime(data1['Date_Time'])
axs[0,0].plot(time,co2)
co2 = np.array(data2['CO2'])
time = pd.to_datetime(data2['Date_Time'])
axs[0,1].plot(time,co2)

co2 = np.array(data3['CO2'])
time = pd.to_datetime(data3['Date_Time'])
axs[1,0].plot(time,co2)
co2 = np.array(data4['CO2'])
time = pd.to_datetime(data4['Date_Time'])
axs[1,1].plot(time,co2)

plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦